<div class="wow animated fadeIn" data-wow-delay=".15s" style="width: 20rem;">
  <a href="{{ project_url }}" class="project card text-themed">
    {%- if project_img -%}
    <img
      id="{{ project_id }}-img"
      class="card-img-top"
      src="{{ project_img }}"
      alt="{{ project_name }}"
    />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ project_id }}-name" class="card-title" style="text-align: center;">
        {%- if project_type == "remote" -%}
        <i
          class="fab fa-github"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="250"
          title="GitHub Repository"
        ></i>
        |&nbsp; {%- endif -%} {{ project_name }} <!-- Place this tag where you want the button to render. -->

        {%- if project_gh_repo -%}
        <div >
          <img src="https://img.shields.io/github/stars/{{ project_gh_repo }}?color=007bff&label=Stars&logoColor=17191a&style=flat-square"/>  
        </div>
        {%- endif -%}

        
      </h5>
      <p id="{{ project_id }}-desc" class="card-text">
        {{ project_desc }}        
      </p>

      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1"
          >{{ tool }}</span
        >
        {%- endfor -%}
      </p>
    </div>

    {%- if project_itch_url -%}
    <a id="{{ project_id }}-itch" class="card-text card-link" href="{{ project_itch_url }}">
      <img style="width:10rem; margin-left: auto; margin-right: auto; display: block;" src="https://static.itch.io/images/badge-color.svg" class="card-img-bottom"/>
    </a>
    {%- endif -%}
    
  </a>
</div>
