{%- assign project_type  = "local" -%}
{%- assign project_id    = project.name | slugify -%}
{%- assign project_img   = project.image -%}
{%- assign project_name  = project.name -%}
{%- assign project_desc  = project.description -%}
{%- assign project_tools = project.tools -%}
{%- assign project_gh_repo = project.gh_repo -%}

{%- if project.external_url -%}
    {%- assign project_url = project.external_url -%}
{%- else -%}
    {%- assign project_url = project.google_play_url | project.url | relative_url -%}
{%- endif -%}

{%- if project.card_width -%}
    {%- assign project_card_width = project.card_width -%}
{%- else -%}
    {%- assign project_card_width = "20rem" -%}
{%- endif -%}

{%- assign project_studio = project.studio -%}
{%- assign project_outsource = project.outsource -%}

{%- assign project_google_play_url = project.google_play_url -%}
{%- assign project_itch_url = project.itch_url -%}

{% include projects/project-card.html %}