<div class="col-lg">

  <h2 class="mb-3">{{ include.title }}</h2>

  {% for skill in include.source %}

  <div class="row justify-content-between align-items-center">
    <div class="col-10">
      <p class="mb-1">
        <h5>{{ skill.name }}</h5>
      </p>
    </div>
    <!-- <div class="col-2 text-right">
      <p class="mb-1 text-muted">{{ skill.percentage }}%</p>
    </div> -->
  </div>

  {% for subskill in skill.subskills %}
  <h6 class="col-10 mb-1" >
    <div style="display: flex; align-items: left; justify-content: flex-start; align-items: center">
      {% if subskill.icon_url %}
        <img width="16" style="margin: 0; margin-right: 0.5rem" src="{{ subskill.icon_url }}"/> 
      {% endif %}
      <p style="display: inline; margin-bottom: 0">{{ subskill.name }}</p>
    </div>
  </h6>
    
  <div class="progress mb-2 bg-themed" style="height: 5px;">
    <div class="progress-bar bg-{{ skill.color | default: "primary" }} wow animated slideInLeft"
      data-wow-delay="{{ forloop.index | divided_by: 20.0 }}"
      role="progressbar"
      style="width: {{ subskill.percentage }}%;"
      aria-valuenow="{{ subskill.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
  </div>
  
  {% endfor %}

  {% endfor %}

</div>